/* inicio buscador */
.contenedorBuscador{
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  padding: 1em 2em;
  background-color: $color-secundario-azul;
  border-radius: 6px;
  .md-button.boton--terciario{
    background-color: #FFFFFF;
  } 
}
@media (max-width: 991px) {
  .contenedorBuscador{
    padding: 1em;
    .h--marginTop0_5 {
        margin-top: 0;
    }
    .h--marginBottom1-r{
      margin-bottom: 1em;
    }
    .h--marginTop1{
      margin-top: 0 !important;
    }
    .h--marginTop1_5{
      margin-top: 0.5em !important;
    }
  }
  
}
  /* fin buscador */