<div class="nav--Privado">
  <div class="Privado-menu" ng-controller="menuPrivadoCrtl-p">
    <ul>
      <li ng-repeat="menu in menuEmpresa" ng-class="{open: currentOpen.menuId == menu.id}" ng-click="indicadores = false">
        <md-button ng-class="{'active': currentOpen.menuId == menu.id, 'active': isActiveMenu == menu.id}" ng-click="activeButton(menu.id);"
          class="line-center" href="">
          <div>
            {{menu.name}}
          </div>
        </md-button>
        <md-menu-content class="menuFondo navMenu">
          <div class="ban-row" data-ui-sref="{{menu.id}}" data-ui-sref-active="active" ng-mouseleave="currentOpen.menuId = false; isActive =null;">
            <!-- inicio menu items -->
            <div class="expandCollapseCtrl">
              <div class="ban-col-xs-12 navMenu--contenido">
                <div class="ban-col-xs-12" ng-repeat="subMenu in menu.menu" ng-click="mostrarOcultarSubMenu($index, subMenu.subMenu.length)">
                  <div class="navMenu--bloque">
                    <md-list class="navMenu--opciones">
                      <div class="subheader" ng-click="cerrarMenu()">
                        <md-list-item class="list-principal" ng-href="{{subMenu.url}}">
                          {{subMenu.name}}
                        </md-list-item>
                      </div>
                      <div>
                        <!-- <div ng-repeat="hijos in subMenu.subMenu" ng-click="cerrarMenu()">
                          <md-list-item class="list-contenido" ng-href="{{hijos.url}}">
                            {{hijos.name}}
                          </md-list-item>
                        </div> -->
                      </div>
                    </md-list>
                  </div>
                </div>
              </div>
              <!-- fin menu items -->
            </div>
        </md-menu-content>
      </li>
      <li ng-repeat="menu in menuEmpresa2" ng-class="{open: currentOpen.menuId == menu.id}" ng-click="indicadores = false">
        <md-button ng-class="{'active': currentOpen.menuId == menu.id, 'active': isActiveMenu == menu.id}" ng-click="activeButton(menu.id);"
          class="line-center" href="">
          <div>
            {{menu.name}}
          </div>
        </md-button>
        <md-menu-content class="menuFondo navMenu posicion2">
          <div class="ban-row" data-ui-sref="{{menu.id}}" data-ui-sref-active="active" ng-mouseleave="currentOpen.menuId = false; isActive =null;">
            <!-- inicio menu items -->
            <div class="expandCollapseCtrl">
              <div class="ban-col-xs-12 navMenu--contenido">
                <div class="ban-col-xs-12" ng-repeat="subMenu in menu.menu" ng-click="mostrarOcultarSubMenu($index, subMenu.subMenu.length)">
                  <div class="navMenu--bloque">
                    <md-list class="navMenu--opciones">
                      <div class="subheader" ng-click="cerrarMenu()">
                        <md-list-item class="list-principal" ng-href="{{subMenu.url}}">
                          {{subMenu.name}}
                        </md-list-item>
                      </div>
                      <div>
                        <div ng-repeat="hijos in subMenu.subMenu" ng-click="cerrarMenu()">
                          <md-list-item class="list-contenido" ng-href="{{hijos.url}}">
                            {{hijos.name}}
                          </md-list-item>
                        </div>
                      </div>
                    </md-list>
                  </div>
                </div>
              </div>
              <!-- fin menu items -->
            </div>
        </md-menu-content>
      </li>
      <li ng-repeat="menu in menuEmpresa3" ng-class="{open: currentOpen.menuId == menu.id}">
        <md-button style="width: 398px;" ng-click="activeButton(menu.id);" class="line-center" href="#post-venta-tarjeta">
          <div>
            {{menu.name}}
          </div>
        </md-button>
      </li>
    </ul>
  </div>
</div>