/* inicio efectoBotones */

@mixin line-center {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }

.line-center{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.line-center:hover:before {
  left: 0;
  right: 0;
}

.line-center:before {
    @include line-center;
    background: #302d5a;
  }

  .botonRedondoL{
    font-size:18px;
    background-color: #ec6e00;
    color:#FFFFFF;
    height: 30px;
    width:260px;
    border-radius:16px;
  }

  .botonRedondoAltoL{
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    background-color: #05bd2e;
    height:60px;
    width: 200px;
    color:#FFFFFF;
    border-radius:16px;
    box-shadow: 10px 10px 10px -7px rgba(0, 0, 0, 0.3);
  }

  .botonCuadrado{
    font-size:22px;
    background-color: #ec6e00;
    color:#FFFFFF;
    line-height: 44px;
    width:260px;
    border-radius: 0px;
    &.s360{
      width: 360px;
    }
    &.s480{
      width: 480px;
    }
    &.s512{
      width: 512px;
    }
  }

  .md-button.doslineas{
    line-height:28px !important;
  }

  .md-button.principalDropdown{
    &:hover{
    border-left: 6px solid #ec6e00 !important;
    }
  }