.panel_float {

    .side--menu {
        position: fixed;
        z-index: 100;
        border-radius: 8px;
        cursor: pointer;
        transition: transform 0.5s ease;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
       
        &.derecho{
            right: 0;
            bottom: 164px;
            width: 306px;
            height: 636px;
            background-color:#dcdfe0;
            // -moz-transform: translateX(282px);
            // -webkit-transform: translateX(282px);
            // -o-transform: translateX(282px);
            // -ms-transform: translateX(282px);
            transform: translateX(282px);
            &:hover {
                background-color: #dcdfe0;
                -moz-transform: translateX(0);
                -webkit-transform: translateX(0);
                -o-transform: translateX(0);
                -ms-transform: translateX(0);
                transform: translateX(0);
              transform: translateX(0);
              }
              span {
                  display: inline-block;
                  vertical-align: middle;
                  font-size: 14px;
                  line-height: 14px;
                  font-weight: bold;
              }
              .boton{
                margin-left: -130px;
                background-color: #ec6e00;
                border-radius: 8px;
                height: 80px;
                width: 506px;
                i{
                    font-size: 40px;
                    font-weight: bold;
                    color: #FFF;
                    height: 20px;
                    margin-top: 35px;
                }
             span{
                font-weight: bold;
                font-size: 22px;
                height: 26px;
                color: #FFF;
                margin-top: -20px;
             }
            }
              .contenedorAreas{
                padding:1em 2em;
         
                .cuadro{
                    width: 80px;
                    border-radius: 8px;
                    color: #FFF;
                    font-style: bold;
                    height: 30px;
                    span{
                        display: inline-block;
                        vertical-align: middle;
                        font-size: 20px;
                        line-height: 30px;
                    }
                }
        
            }
        }

        &.izquierdo{
            left:0;
            top:266px;
            width: 420px;
            height: 705px;
            background-color:#f4f4f4;
            transform: translateX(-360px);
            .md-button{
                margin-right: 0px;
                text-align: center;
                display: block;
                font-size: 18px;
                height: 80px;
                line-height: 80px;
                border-radius:8px;
                box-shadow: 5px 10px 10px -7px rgba(0, 0, 0, 0.75);
                &.hoverSideRight{
                    &:hover{
                        border-right: 10px solid #ec6e00;
                    }
            }
            }
            .boton{
                background-color: #ec6e00;
                border-radius: 8px;
                height: 110px;
                width: 500px;
                i{
                    font-size: 40px;
                    font-weight: bold;
                    color: #FFF;
                    height: 20px;
                    margin-top: 35px;
                }
             span{
                font-weight: bold;
                font-size: 10px;
                height: 26px;
                color: #FFF;
                margin-top: -20px;
             }
            }
            &:hover {
                background-color: #dcdfe0;
                // -moz-transform: translateX(0);
                // -webkit-transform: translateX(0);
                // -o-transform: translateX(0);
                // -ms-transform: translateX(0);
                // transform: translateX(0);
              transform: translateX(-30px);
              }
        }
      }
    }
    
    //   inicio flotante
    .areas{
        margin-top: -17px;
        .siglaAreas{
            border-radius: 8px;
            width: 200px;
            height: 60px;
            margin-left: -20px;
        
        }
        span{
            font-size:14px;
            font-style:bold;
            line-height: 26px;
            text-align: left;
        }
    }
    //   fin flotante
    
    .md-button{
        &.hoverSideRight{
            &:hover{
                border-right: 10px solid #ec6e00;
                }
            }
        .hoverSideLeft{
            &:hover{
                    border-left: 10px solid #ec6e00;
                }
            }
    }



    // inicio flotante izquierdo
    // fin flotante izquierdo

